.app-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 $spacer;
  color: $footer-color;
  height: 50px;
  background: $footer-bg;
  @include borders($footer-borders);
}
