<div class="animated fadeIn">
  <form [formGroup]="lookupForm" method="post" class="form-horizontal">
    <div class="row">

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Lookup</strong>
          </div>
          <div class="card-body">
            <strong>Lookup</strong>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Name</label>
                  <div class="col-md-9">
                    <input formControlName="name" class="form-control" id="name" name="name" type="text" placeholder="Enter Name">
                    <div *ngFor="let validation of validationMessages.name">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'name', lookupForm)" >{{validation.message}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">

              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Name Native</label>
                  <div class="col-md-9">
                    <input formControlName="name_native" class="form-control" id="name_native" name="name_native" type="text" placeholder="Enter Name Native">
                    <div *ngFor="let validation of validationMessages.name_native">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'name_native', lookupForm)" >{{validation.message}}</span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Keyword</label>
                  <div class="col-md-9">
                    <input formControlName="keyword" class="form-control" id="keyword" name="keyword" type="text" placeholder="Enter Keyword">
                    <div *ngFor="let validation of validationMessages.keyword">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'keyword', lookupForm)" >{{validation.message}}</span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Abbreviation</label>
                  <div class="col-md-9">
                    <input formControlName="abbreviation" class="form-control" id="abbreviation" name="abbreviation" type="text" placeholder="Enter Abbreviation">
                    <div *ngFor="let validation of validationMessages.abbreviation">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'abbreviation', lookupForm)" >{{validation.message}}</span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Abbreviation Native</label>
                  <div class="col-md-9">
                    <input formControlName="abbreviation_native" class="form-control" id="abbreviation_native" name="abbreviation_native" type="text" placeholder="Enter Abbreviation Native">
                    <div *ngFor="let validation of validationMessages.abbreviation_native">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'abbreviation_native', lookupForm)" >{{validation.message}}</span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">SI No</label>
                  <div class="col-md-9">
                    <input formControlName="si_no" class="form-control" id="si_no" name="si_no" type="text" placeholder="Enter SI No">
                    <div *ngFor="let validation of validationMessages.si_no">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'si_no', lookupForm)" >{{validation.message}}</span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">IsActive</label>
                    <div class="col-md-9">
                      <select formControlName="isActive" class="form-control" id="isActive" name="isActive">
                        <option selected="selected">Select IsActive Type</option>
                      </select>
                      <div *ngFor="let validation of validationMessages.isActive">
                        <span class="help-block" *ngIf="hasValidationError(validation, 'isActive', lookupForm)" >{{validation.message}}</span>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                </div>
              </div>
            
          </div>

          <div class="card-footer">
            <button class="btn btn-sm btn-success float-right" type="button" [disabled]="!lookupForm.valid" (click)="saveDocuments(lookupForm)">
              <i class="fa fa-dot-circle-o"></i> Save
            </button>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                  <thead>
                    <tr role="row">
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date registered: activate to sort column ascending" style="width: 150px;">Parent Id</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 130px;">Name</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 138px;">Name Native</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Keyword</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Abbreviation</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Abbreviation Native</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">SI No</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 138px;">IsActive</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 180px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd" *ngFor="let lookup of lookupData">
                      <td>{{lookup.parent_id}}</td>
                      <td>{{lookup.name}}</td>
                      <td>{{lookup.name_native}}</td>
                      <td>{{lookup.keyword}}</td>
                      <td>{{lookup.abbreviation}}</td>
                      <td>{{lookup.abbreviation_native}}</td>
                      <td>{{lookup.si_no}}</td>
                      <td>{{lookup.isActive}}</td>
                      <td>
                        <a class="btn btn-success" href="#">
                          <i class="fa fa-search-plus"></i>
                        </a>
                        <a class="btn btn-info" href="#">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger" href="#">
                          <i class="fa fa-trash-o"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 32 entries</div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                  <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                    <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                    <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>


</div>
