<div class="animated fadeIn">
  <form [formGroup]="menuForm" method="post" class="form-horizontal">
    <div class="row">

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Menu Management</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Name</label>
                  <div class="col-md-9">
                    <input formControlName="name" class="form-control" id="name" name="name" type="text" placeholder="Enter Name">
                    <div *ngFor="let validation of validationMessages.name">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'name', menuForm)">{{validation.message}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">

              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">URL</label>
                  <div class="col-md-9">
                    <input formControlName="url" class="form-control" id="url" name="url" type="text" placeholder="Enter URL">
                    <div *ngFor="let validation of validationMessages.url">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'url', menuForm)">{{validation.message}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Icon</label>
                  <div class="col-md-9">
                    <input formControlName="icon" class="form-control" id="icon" name="icon" type="text" placeholder="Enter Icon">
                    <div *ngFor="let validation of validationMessages.icon">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'icon', menuForm)">{{validation.message}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Child Menu</label>
                  <div class="col-md-9">
                    <select formControlName="childmenu" class="form-control" id="childmenu" name="childmenu">
                      <option value="">Select Any One</option>
                      <option value="1">1</option>
                    </select>
                    <div *ngFor="let validation of validationMessages.childmenu">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'childmenu', menuForm)">{{validation.message}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Is Active</label>
                  <div class="col-md-9">
                    <select formControlName="isactive" class="form-control" id="isactive" name="isactive">
                      <option value="">Select Any One</option>
                      <option value="1">Active</option>
                      <option value="0">In Active</option>
                    </select>
                    <div *ngFor="let validation of validationMessages.isactive">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'isactive', menuForm)">{{validation.message}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Role Name</label>
                  <div class="col-md-9">
                    <select formControlName="rolename" class="form-control" id="rolename" name="rolename">
                      <option value="">Select Any One</option>
                      <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                      <option value="ROLE_USER">ROLE_USER</option>
                      <option value="ROLE_PM">ROLE_PM</option>
                      <option value="ROLE_CHECKER">ROLE_CHECKER</option>
                      <option value="ROLE_EMPLOYEE">ROLE_EMPLOYEE</option>
                      <option value="ROLE_MAKER">ROLE_MAKER</option>
                    </select>
                    <div *ngFor="let validation of validationMessages.rolename">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'rolename', menuForm)">{{validation.message}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Parent</label>
                  <div class="col-md-9">
                    <select formControlName="isparent" class="form-control" id="isparent" name="isparent">
                      <option value="">Select Any One</option>
                      <option value="1">1</option>
                    </select>
                    <div *ngFor="let validation of validationMessages.isparent">
                      <span class="help-block" *ngIf="hasValidationError(validation, 'isparent', menuForm)">{{validation.message}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn-sm btn-success float-right" type="button" [disabled]="!menuForm.valid" (click)="saveMenus(menuForm)">
              <i class="fa fa-dot-circle-o"></i> Save
            </button>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0"
                  role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                  <thead>
                    <tr role="row">
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="Date registered: activate to sort column ascending" style="width: 20%;">Menu Name</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="Role: activate to sort column ascending" style="width: 20%;">Menu URL</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="Status: activate to sort column ascending" style="width: 20%;">Menu Icon</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="Status: activate to sort column ascending" style="width: 20%;">Role Name</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="Actions: activate to sort column ascending" style="width: 20%;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd">
                      <td>Dashboard</td>
                      <td>dashboard</td>
                      <td>icon-speedometer</td>
                      <td>ROLE_ADMIN</td>
                      <td>
                        <a class="btn btn-success" href="#">
                          <i class="fa fa-search-plus"></i>
                        </a>
                        <a class="btn btn-info" href="#">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger" href="#">
                          <i class="fa fa-trash-o"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to
                  10 of 32 entries</div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                  <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#"
                        aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                    <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0"
                        data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2"
                        tabindex="0" class="page-link">2</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3"
                        tabindex="0" class="page-link">3</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4"
                        tabindex="0" class="page-link">4</a></li>
                    <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0"
                        data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>


</div>