<div>
  <tabset>
    <tab heading="Foreign Training" id="tab1">
 <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"> <div class="card-body">
                       
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Foreign Training</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal" action="" method="post">							
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="remarks">Search By Employee Code</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input class="form-control" id="input2-group2" type="email" name="input2-group2" placeholder="Search By Employee Code">
                                                <span class="input-group-append">
                                                  <button class="btn btn-primary" type="button">Submit</button>
                                                </span>
                                              </div> 
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </form>
                   </div>
                </div>
            </div>
        </div>
		<div class="row">
          <div class="col-sm-12">
            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
              <thead>
                <tr role="row">
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date registered: activate to sort column ascending" style="width: 150px;">Parent Id</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 130px;">Name</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 138px;">Name Native</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Keyword</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Abbreviation</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Abbreviation Native</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">SI No</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 138px;">IsActive</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 180px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let foreigntraining of foreigntrainingData">
                  <td>{{foreigntraining.parent_id}}</td>
                  <td>{{foreigntraining.name}}</td>
                  <td>{{foreigntraining.name_native}}</td>
                  <td>{{foreigntraining.keyword}}</td>
                  <td>{{foreigntraining.abbreviation}}</td>
                  <td>{{foreigntraining.abbreviation_native}}</td>
                  <td>{{foreigntraining.si_no}}</td>
                  <td>{{foreigntraining.isActive}}</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus"></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 32 entries</div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
	</div>
  

                      
      </div></div>

    </tab>

    <tab heading="Create New">
<div>
<form [formGroup]="foreigntrainingForm" class="form-horizontal">
    <div class="row">

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Foreign Training</strong>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">Country</label>
                      <div class="col-md-9">
                    <select class="form-control" id="country" name="country">
                      <option selected="selected">Select Country</option>
                    </select>
                          <span class="help-block">Please Select Country</span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">Title</label>
                      <div class="col-md-9">
                    <input class="form-control" id="title" name="title" type="text" placeholder="Enter Title">
                          <span class="help-block">Please Enter Title</span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">Institution</label>
                      <div class="col-md-9">
                    <select class="form-control" id="institution" name="institution">
                      <option selected="selected">Select Institution</option>
                    </select>
                          <span class="help-block">Please Select Institution</span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">If Select Other from Institution, then textbox</label>
                      <div class="col-md-9">
                    <input class="form-control" id="other_institution" name="other_institution" type="text" placeholder="Enter Institution">
                          <span class="help-block">Please Enter Institution</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">Start Date</label>
                      <div class="col-md-9">
                    <input class="form-control" id="start_date" name="start_date" type="text" placeholder="Enter Date">
                          <span class="help-block">Please Enter Date</span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">End Date</label>
                      <div class="col-md-9">
                    <input class="form-control" id="end_date" name="end_date" type="text" placeholder="Enter Date">
                          <span class="help-block">Please Enter Date</span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">Duration</label>
                      <div class="col-md-9">
                    <input class="form-control" id="duration" name="duration" type="text" placeholder="Enter Duration">
                          <span class="help-block">Please Enter Duration</span>
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">Batch</label>
                      <div class="col-md-9">
                    <select class="form-control" id="batch" name="batch">
                      <option selected="selected">Select Batch</option>
                    </select>
                          <span class="help-block">Please Select Batch</span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="name">Remarks</label>
                      <div class="col-md-9">
                      <textarea class="form-control" id="remarks" name="remarks" rows="3" placeholder="Enter Remarks ....."></textarea>
                          <span class="help-block">Please Enter Remarks</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="card-footer">
              <button class="btn btn-sm btn-success float-right" type="submit">
                <i class="fa fa-dot-circle-o"></i> Save
              </button>
            </div>
        </div>
      </div>

    </div>
  </form> 
</div>


    </tab>
  </tabset>
</div>