<div>
  <tabset>
    <tab heading="Educational" id="tab1">
 <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"> <div class="card-body">
                       
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Educational</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal" action="" method="post">							
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="remarks">Search By Employee Code</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input class="form-control" id="input2-group2" type="email" name="input2-group2" placeholder="Search By Employee Code">
                                                <span class="input-group-append">
                                                  <button class="btn btn-primary" type="button">Submit</button>
                                                </span>
                                              </div> 
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </form>
                   </div>
                </div>
            </div>
        </div>
		<div class="row">
          <div class="col-sm-12">
            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
              <thead>
                <tr role="row">
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date registered: activate to sort column ascending" style="width: 150px;">Parent Id</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 130px;">Name</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 138px;">Name Native</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Keyword</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Abbreviation</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Abbreviation Native</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">SI No</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 138px;">IsActive</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 180px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let educational of educationalData">
                  <td>{{educational.parent_id}}</td>
                  <td>{{educational.name}}</td>
                  <td>{{educational.name_native}}</td>
                  <td>{{educational.keyword}}</td>
                  <td>{{educational.abbreviation}}</td>
                  <td>{{educational.abbreviation_native}}</td>
                  <td>{{educational.si_no}}</td>
                  <td>{{educational.isActive}}</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus"></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 32 entries</div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
	</div>
  

                      
      </div></div>

    </tab>

    <tab heading="Create New">
<div>
<form [formGroup]="educationalForm" class="form-horizontal">
    <div class="row">

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Educational</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-6">

              </div>
              <div class="col-sm-12 col-md-6">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">

                  <tr>
                    <th>Employee Code:</th>
                    <td>
                      <input type="search" class="form-control form-control-sm" placeholder="Search..." aria-controls="DataTables_Table_0">
                    </td>
                    <th></th>
                    <td> </td>
                  </tr>

                  <tr>
                    <th>Name:</th>
                    <td></td>
                    <th>Rank:</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Designation:</th>
                    <td></td>
                    <th>Organisation:</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Location:</th>
                    <td></td>
                    <th>SPDS:</th>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
          

<div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name">Degree Code</label>
                <div class="col-md-9">
                  <select class="form-control" id="degree_code" name="degree_code">
                        <option selected="selected">Select Degree Code</option>
                    </select>
                  <span class="help-block">Please Select Degree Code</span>
                </div>
            </div>
        </div>

<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Institute Name</label>
    <div class="col-md-9">
       <input class="form-control" id="institute_name" name="institute_name" type="text">
      <span class="help-block">Please Enter Institute Name</span>
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Passing Year</label>
    <div class="col-md-9">
       <input class="form-control" id="passing_year" name="passing_year" type="text">
      <span class="help-block">Please Enter Passing Year</span>
    </div>
</div>
</div>

<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Degree Level</label>
    <div class="col-md-9">
       <select class="form-control" id="degree_level" name="degree_level">
            <option selected="selected">Select Degree Level</option>
        </select>
      <span class="help-block">Please Select Degree Level</span>
    </div>
</div>
</div>
</div>

              <div class="row">
<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Principal Subject</label>
    <div class="col-md-9">
       <select class="form-control" id="principal_subject" name="principal_subject">
            <option selected="selected">Select Principal Subject</option>
        </select>
      <span class="help-block">Please Select Principal Subject</span>
    </div>
</div>
</div>

<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">GPA/CGPA</label>
    <div class="col-md-9">
         <select class="form-control" id="gpa_cgpa" name="gpa_cgpa">
            <option selected="selected">Select GPA/CGPA</option>
        </select>
        <span class="help-block">Please Select GPA/CGPA</span>
    </div>
</div>
</div>
                  </div>

<div class="row">
<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Obtain GPA/CGPA</label>
    <div class="col-md-9">
       <input class="form-control" id="obtain_gpa_cgpa" name="obtain_gpa_cgpa" type="text">
      <span class="help-block">Please Enter Obtain GPA/CGPA</span>
    </div>
</div>
</div>

<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Out of GPA/CGPA</label>
    <div class="col-md-9">
       <input class="form-control" id="out_of_gpa_cgpa" name="out_of_gpa_cgpa" type="text">
      <span class="help-block">Please Enter Out of GPA/CGPA</span>
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Result</label>
    <div class="col-md-9">
       <select class="form-control" id="result" name="result">
            <option selected="selected">Select Result</option>
        </select>
      <span class="help-block">Please Select Result</span>
    </div>
</div>
</div>

<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Result Level</label>
    <div class="col-md-9">
         <select class="form-control" id="result_level" name="result_level">
            <option selected="selected">Select Result Level</option>
        </select>
        <span class="help-block">Please Select Result Level</span>
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Is Foreign</label>
    <div class="col-md-9">
       <select class="form-control" id="is_foreign" name="is_foreign">
            <option selected="selected">Select Is Foreign</option>
        </select>
      <span class="help-block">Please Select Is Foreign</span>
    </div>
</div>
</div>

<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Position</label>
    <div class="col-md-9">
         <select class="form-control" id="position" name="position">
            <option selected="selected">Select Position</option>
        </select>
        <span class="help-block">Please Select Position</span>
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">Distinction</label>
    <div class="col-md-9">
       <select class="form-control" id="distinction" name="distinction">
            <option selected="selected">Select Distinction</option>
        </select>
      <span class="help-block">Please Select Distinction</span>
    </div>
</div>
</div>

<div class="col-sm-6">

</div>
</div>


</div>

<div class="card-footer">
<button class="btn btn-sm btn-success float-right" type="submit">
<i class="fa fa-dot-circle-o"></i> Save</button>
</div>
        </div>
      </div>

    </div>
  </form> 
</div>


    </tab>
  </tabset>
</div>