<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Tab Management</strong>
                </div>
                <div class="card-body">
                    <p-tabView>
                        <p-tabPanel header="Header 1">
                            Content 1
                        </p-tabPanel>
                        <p-tabPanel header="Header 2">
                            Content 2
                        </p-tabPanel>
                        <p-tabPanel header="Header 3">
                            Content 3
                        </p-tabPanel>
                    </p-tabView>
                </div>



            </div>
        </div>

    </div>

</div>