<div>
  <tabset>
    <tab heading="Children" id="tab1">
 <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"> <div class="card-body">
                      
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Children</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal" action="" method="post">							
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="remarks">Search By Employee Code</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input class="form-control" id="input2-group2" type="email" name="input2-group2" placeholder="Search By Employee Code">
                                                <span class="input-group-append">
                                                  <button class="btn btn-primary" type="button">Submit</button>
                                                </span>
                                              </div> 
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </form>
                   </div>
                </div>
            </div>
        </div>
		 <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
              <thead>
                <tr role="row">
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date registered: activate to sort column ascending" style="width: 150px;">Parent Id</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 130px;">Name</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 138px;">Name Native</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Keyword</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Abbreviation</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">Abbreviation Native</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 98px;">SI No</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 138px;">IsActive</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 180px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let children of childrenData">
                  <td>{{children.parent_id}}</td>
                  <td>{{children.name}}</td>
                  <td>{{children.name_native}}</td>
                  <td>{{children.keyword}}</td>
                  <td>{{children.abbreviation}}</td>
                  <td>{{children.abbreviation_native}}</td>
                  <td>{{children.si_no}}</td>
                  <td>{{children.isActive}}</td>
                  <td>
                    <a class="btn btn-success" href="#">
                      <i class="fa fa-search-plus"></i>
                    </a>
                    <a class="btn btn-info" href="#">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger" href="#">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 32 entries</div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
	</div>
  

                      
      </div></div>

    </tab>

    <tab heading="Create New">
<div>
<form [formGroup]="childrenForm" class="form-horizontal">
    <div class="row">

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Children</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-6">

              </div>
              <div class="col-sm-12 col-md-6">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">

                  <tr>
                    <th>Employee Code:</th>
                    <td>
                      <input type="search" class="form-control form-control-sm" placeholder="Search..." aria-controls="DataTables_Table_0">
                    </td>
                    <th></th>
                    <td> </td>
                  </tr>

                  <tr>
                    <th>Name:</th>
                    <td></td>
                    <th>Rank:</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Designation:</th>
                    <td></td>
                    <th>Organisation:</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Location:</th>
                    <td></td>
                    <th>SPDB:</th>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
            
               <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Spouse</label>
                    <div class="col-md-9">
                  <select class="form-control" id="spouse" name="spouse">
                    <option selected="selected">Select Spouse</option>
                  </select>
                        <span class="help-block">Please Select Spouse</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">

                </div>
              </div>
            </div>

              <div class="row">
             <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Image</label>
                    <div class="col-md-9">
                <input class="form-control" id="profilephoto" type="file" name="profileimage">
                        <span class="help-block">Please Select Image</span>
                  </div>
                </div>
                </div>

              <div class="col-sm-6">

              </div>
            </div>

               <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Child Serial</label>
                    <div class="col-md-9">
                  <input class="form-control" id="child_serial" name="child_serial" type="text" placeholder="Enter Child Serial">
                        <span class="help-block">Please Enter Child Serial</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">

                </div>
              </div>
            </div>

              <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Name</label>
                    <div class="col-md-9">
                  <input class="form-control" id="child_name" name="child_name" type="text" placeholder="Enter Name">
                        <span class="help-block">Please Select Name</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">

                </div>
              </div>
            </div>

              <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Sex</label>
                    <div class="col-md-9">
                  <select class="form-control" id="child_sex" name="child_sex">
                    <option selected="selected">Select Sex</option>
                  </select>
                        <span class="help-block">Please Select Sex</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">

                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Date of Birth</label>
                    <div class="col-md-9">
                  <input class="form-control" id="date_of_birth" name="date_of_birth" type="text" placeholder="Enter Date of Birth">
                        <span class="help-block">Please Enter Date of Birth</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">

              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Birth Certificate</label>
                    <div class="col-md-9">
                  <input class="form-control" id="birth_certifcate" name="birth_certifcate" type="text" placeholder="Enter Birth Certificate">
                        <span class="help-block">Please Enter Birth Certificate</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Remarks</label>
                    <div class="col-md-9">
                  <input class="form-control" id="remarks" name="remarks" type="text" placeholder="Enter Remarks">
                        <span class="help-block">Please Enter Remarks</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">

                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn-sm btn-success float-right" type="submit">
              <i class="fa fa-dot-circle-o"></i> Save & Process
            </button>
          </div>
        </div>
      </div>

    </div>
  </form> 
</div>


    </tab>
  </tabset>
</div>