<app-header></app-header>
<div class="app-body">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
    <button class="sidebar-minimizer" type="button" appSidebarMinimizer appBrandMinimizer></button>
  </div>
  <main class="main">
    <app-breadcrumb></app-breadcrumb>
    <div class="container-fluid">      
      <router-outlet></router-outlet>
    </div>
    <footer class="app-footer">
      <div>
      <a>CoreUI Pro</a>
      <span>© 2018 creativeLabs.</span>
      </div>
      <div class="ml-auto">
      <span>Powered by</span>
      <a >CoreUI Pro</a>
      </div>
      </footer>
  </main>
  
</div>  
