<app-header></app-header>
<div class="app-body">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
    <button class="sidebar-minimizer" type="button" appSidebarMinimizer appBrandMinimizer></button>
  </div>
  <main class="main">
    <app-breadcrumb></app-breadcrumb>
    <div class="container-fluid">      
      <router-outlet></router-outlet>
    </div>
    <footer class="app-footer">
      <div>
        <a href="https://techturtles.in/home">Turtles Technologies Private Limited</a>
        <span>© 2018 techturtles</span>
        </div>
        <div class="ml-auto">
        <span>Powered by</span>
        <a href="https://techturtles.in/home">Turtles Technologies Private Limited</a>
        </div>
      </footer>
  </main>
  
</div>  
